font-family = SauceCodePro Nerd Font
font-size = 13
font-thicken = true

theme = Lovelace
background-opacity = 0.98

shell-integration-features = ssh-terminfo,ssh-env,title

keybind = ctrl+c=copy_to_clipboard
keybind = ctrl+v=paste_from_clipboard
keybind = super+left=previous_tab
keybind = super+right=next_tab
